<h1>Edit Shelter info:</h1>
<%= form_tag "/shelters/#{@shelter.id}", method: :patch  do %>

<%= label_tag :name %>
<%= text_field_tag :name, value="#{@shelter.name}" %><br>

<%= label_tag :address  %>
<%= text_field_tag :address, value="#{@shelter.address}" %><br>

<%= label_tag :city  %>
<%= text_field_tag :city, value="#{@shelter.city}" %><br>

<%= label_tag :state %>
<%= text_field_tag :state, value="#{@shelter.state}" %><br>

<%= label_tag :zip %>
<%= text_field_tag :zip, value="#{@shelter.zip}" %><br>

<%= submit_tag "Submit" %>
<% end %>
