<div class="pageheader">
  <h1><%= @shelter.name %></h1>
</div>
<p><%= @shelter.address %></p>
<p><%= "#{@shelter.city}, #{@shelter.state}" %></p>
<p><%= @shelter.zip %></p>
<h5><a href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a></h5>
