<div class="show">
  <h2>Pet Application: <%= @application.id %></h2>
  <p>Application Status: <%=@application.status %> </p>
  <p>Name: <%= @application.name_of_user%></p>
  <p>Address: <%= @application.address %></p>
  <p>Description: <%= @application.description %></p>
  <p>Pets: <% @application.pets.each do |pet| %></p>
    <p><%= pet.name %></p>
    <img src="<%= pet.image %>" alt="<%= pet.name %>" width="200">
  <% end %>
  <p>Status: <%= @application.status %></p>
</div>
<br>
<br>
<% if @application.status == 'In Progress' %>
  <%= form_tag "/applications/#{@application.id}", :method => "get" do %>
    <%= label_tag(:search, "Search for a pet: ") %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag("Search") %>
  <% end %>
  <% @search_results.each do |pet| %>
    <%= link_to "#{pet.name}", "/pets/#{pet.id}" %><br>
    <%= button_to "Adopt This Pet", "/applications/#{@application.id}/update_pet", method: :patch, params: {pet: pet} %>
  <% end %>
<% end %>
<br>
<br>
<% if @application.pets.count > 0 && @application.status == 'In Progress' %>
  <%= form_tag "/applications/#{@application.id}", method: :patch do %>

    <%= label_tag :description %>
    <%= text_field_tag :description %>

    <%= submit_tag 'Submit Application' %>
  <% end %>
<% end %>
