<h3>Edit Pet info:</h3>
<%= form_tag "/pets/#{@pet.id}", method: :patch  do %>

<%= label_tag :name %>
<%= text_field_tag :name, value="#{@pet.name}" %><br>

<%= label_tag :age  %>
<%= text_field_tag :age, value="#{@pet.age}" %><br>

<%= label_tag :image  %>
<%= text_field_tag :image, value="#{@pet.image}" %><br>

<%= label_tag :sex %>
<%= text_field_tag :sex, value="#{@pet.sex}" %><br>


<%= label_tag :description %>
<%= text_field_tag :description, value="#{@pet.description}" %><br>

<%= submit_tag "Submit" %>
<% end %>
