<div class="pageheader">
  <h1><a href="/pets/<%= @pet.id %>"><%= @pet.name %></a></h1>
</div>
<div class="show">
<img src="<%= @pet.image %>" alt="<%= @pet.name %>" width="400">
<p>Approximate age: <%= @pet.age%></p>
<p>Sex: <%= @pet.sex %></p>
<p>Adoption Status: <%= @pet.status %></p>
<p>Description: <%= @pet.description %></p>
<h5><a href="/pets/<%= @pet.id %>/edit">Update Pet</a></h5>
<h5><a href="/pets/<%= @pet.id %>/delete">Delete Pet</a></h5><br>
</div>
