
<div class="show">
<h2><%= @user.name %></h2>
<p><%= @user.address %></p>
<p><%= @user.city %></p>
<p><%= @user.state %></p>
<p><%= @user.zip %></p>
</div>
<section class="show">
  <% @user.reviews.each do |review| %>
  <p>Title: <%= review.title %></p>
  <p>Review out of 5: <%= review.rating %></p>
  <p>Content: <%= review.content %></p>
  <% end %>
</section>
<section id="av_user_rating">
  <h2>User's Average Review Rating</h2>
  <p>Average: <%= @user.average_rating %></p>
</section>
